In [53]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [83]:
df = pd.read_csv('apple-orange.csv')
df

    weight  size   class
0       69  4.39  orange
1       69  4.21  orange
2       65  4.09  orange
3       72  5.85   apple
4       67  4.70  orange
5       73  5.68   apple
6       70  5.56   apple
7       75  5.11   apple
8       74  5.36   apple
9       65  4.27  orange
10      73  5.79   apple
11      70  5.47   apple
12      74  5.53   apple
13      68  4.47  orange
14      74  5.22   apple
15      65  4.48  orange
16      69  4.66  orange
17      75  5.25   apple
18      67  4.18  orange
19      74  5.50   apple
20      66  4.13  orange
21      70  4.83  orange
22      69  4.61  orange
23      68  4.08  orange
24      67  4.25  orange
25      71  5.35   apple
26      67  4.01  orange
27      70  4.22  orange
28      74  5.25   apple
29      71  5.26   apple
30      73  5.78   apple
31      66  4.68  orange
32      72  5.72   apple
33      73  5.17   apple
34      68  4.83  orange
35      69  4.11  orange
36      69  4.76  orange
37      74  5.48   apple
38      70  5.59   apple
39      73  5.03   apple

In [1]:

att = df[['weight','size']] 
label = df['class']

att_train , att_test , class_train  , class_test = train_test_split(att , label , random_state=0, test_size=0.8)

scaler = StandardScaler()
scaler.fit(att_train)

att_train[['weight','size']]   = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors=2)
model.fit(att_train,class_train)

model.score(scaler.transform(att_test),class_test)

NameError: name 'df' is not defined

In [89]:
result = pd.concat([att_test,class_test],axis= 1)
result['predict'] = model.predict(scaler.transform(att_test))
result

c:\Users\walo1\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

    weight  size   class predict
22      69  4.61  orange  orange
20      66  4.13  orange  orange
25      71  5.35   apple   apple
4       67  4.70  orange  orange
10      73  5.79   apple   apple
15      65  4.48  orange  orange
28      74  5.25   apple   apple
11      70  5.47   apple   apple
18      67  4.18  orange  orange
29      71  5.26   apple   apple
27      70  4.22  orange  orange
35      69  4.11  orange  orange
37      74  5.48   apple   apple
2       65  4.09  orange  orange
39      73  5.03   apple   apple
30      73  5.78   apple   apple
34      68  4.83  orange  orange
16      69  4.66  orange  orange
36      69  4.76  orange  orange
8       74  5.36   apple   apple
13      68  4.47  orange  orange
5       73  5.68   apple   apple
17      75  5.25   apple   apple
14      74  5.22   apple   apple
33      73  5.17   apple   apple
7       75  5.11   apple   apple
32      72  5.72   apple   apple
1       69  4.21  orange  orange
26      67  4.01  orange  orange
12      74  5.53   apple   apple
31      66  4.68  orange  orange
24      67  4.25  orange  orange